<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content}, ~{::title})}"
>
  <head>
    <title th:text="${user.name}">profilePage</title>
  </head>
  <body>
    <div id="content" class="relative min-h-screen" 
    style="
    background-image: url('/images/home1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    ">
      
      <!-- Decorative Overlay -->
      
    </div>
  </body>
</html>
