<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<head>

    <title th:text="${user.name}">profilePage</title>
 
</head>
<body >
    <div id="content">
        
 
        <div th:replace="~{user/side_navbar :: side-navbar}"></div>
        <div class="pl-64 sm:pt-20" >
            <div class="flex justify-center flex-col items-center">
                <h1>Profile Page</h1>
            </div>
        </div>
    
 


   
    </div>
    <!-- Link to JavaScript file -->
    
</body>
</html>