
    <nav th:fragment="user-navbar" class="fixed top-0 right-0 w-full bg-gray-800 border-gray-200 dark:bg-gray-900 z-50">
        <div class="flex flex-wrap items-center mx-auto max-w-screen-xl p-4">
            <div class="flex items-center w-full md:w-auto">
                <div class="flex items-center space-x-3 rtl:space-x-reverse sm:items-center">
                
                        <img src="/images/address-book.png" class="h-8 mr-3" alt="Flowbite Logo" /> 
                    
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Smart Contact Manager</span>
                </div>

            </div>

            <div class="flex justify-center md:justify-center lg:absolute lg:right-4 lg:top-4 space-x-2">
                <a th:href=@{'/user/profile'} class="flex items-center pr-5 text-lg text-gray text-white hover:underline group"><span th:text="${user.name}"></span></a>
                <a th:href=@{'/logout'} class="flex items-center text-lg text-gray-900 text-white hover:underline group">logout</a>
            </div>
        </div>
    

    </nav>
