<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content}, ~{::title})}"
>
  <head>
    <title>Contacts</title>
  </head>
  <body>
    <div id="content" class="container" style="
        background-image: url('/images/home1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    ">
      <!-- Search and Add Contact Header -->

      <!-- Contacts Table -->
      <div
        class="relative overflow-x-auto shadow-md mt-16 sm:rounded-lg sm:ml-64"
      >
        <div class="flex justify-between items-center mb-4">
          <div class="flex items-center gap-4 mt-4">
            <h1 class="text-2xl font-bold text-white ">Contacts</h1>

            <!-- Add search form -->
            <form
              th:action="@{/user/contact/search}"
              method="get"
              class="flex gap-2"
            >
              <input
                type="text"
                name="keyword"
                th:value="${keyword}"
                placeholder="Search contacts..."
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
              <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >
                Search
              </button>
            </form>
          </div>

          <a
            th:href="@{/user/contact/add}"
            class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Add New Contact
          </a>
        </div>
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Email</th>
              <th scope="col" class="px-6 py-3">Phone</th>
              <th scope="col" class="px-6 py-3">Work</th>
              <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${pagecontact.empty}">
              <td colspan="5" class="px-6 py-4 text-center">
                No contacts found
              </td>
            </tr>
            <tr
              th:unless="${pagecontact.empty}"
              th:each="contact : ${pagecontact.content}"
              class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                th:text="${contact.name}"
              ></th>
              <td class="px-6 py-4" th:text="${contact.email}"></td>
              <td class="px-6 py-4" th:text="${contact.phoneNumber}"></td>
              <td class="px-6 py-4" th:text="${contact.address}"></td>
              <td class="px-6 py-4 flex gap-2">

                <a
                  th:href="@{/user/contact/delete/{id}(id=${contact.id})}"
                  class="font-medium flex items-center gap-4 text-red-600 dark:text-red-500 hover:underline"
                >
                  <i class="fas fa-trash"></i>
                </a>
              

                <a 
                  th:href="@{/user/contact/edit/{id}(id=${contact.id})}"
                  class="font-medium flex items-center gap-4 ml-2 text-red-600 dark:text-red-500 hover:underline"
                >
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="flex justify-center items-center mt-4">
          <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-sm">
              <li>
                <a
                  th:href="${pagecontact.first} ? '#' : @{/user/contact(pageNumber=${pagecontact.number - 1})}"
                  th:class="${pagecontact.first} ? 'cursor-not-allowed opacity-50 flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400' : 'flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                  >Previous</a
                >
              </li>
              <li
                th:each="index: ${#numbers.sequence(1, pagecontact.totalPages)}"
              >
                <a
                  th:href="@{/user/contact(pageNumber=${index - 1})}"
                  th:class="${pagecontact.number + 1 == index} ? 'flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                  >[[${index}]]</a
                >
              </li>
              <li>
                <a
                  th:href="${pagecontact.last} ? '#' : @{/user/contact(pageNumber=${pagecontact.number + 1})}"
                  th:class="${pagecontact.last} ? 'cursor-not-allowed opacity-50 flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400' : 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>