<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content,title)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Smart Contact Manager</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-gray-300">
    <div th:if="${user}">
      <div th:replace="~{user/User_Navbar :: user-navbar}"></div>
    </div>
    <div th:if="${user}">
      <div th:replace="~{user/side_navbar :: side-navbar}"></div>
    </div>

    <div th:unless="${user}">
      <div th:replace="~{Navbar :: navbar}"></div>
    </div>

    <section class="pt-15">
      <div th:replace="${content}"></div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
