<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#homepage}, ~{::title})}">
<head>

    <title>homepage</title>
 
</head>
<body id="homepage">
    <header>
        <h1> xjha jsahdbas dbam xahd sand smus</h1>
        <h3>WDKHASDBX WJHD DASDX JD XDa</h3>
        <h1>
        
    </header>
    
    <main>
        <section>
            <h2>dsahdaxdh </h2>
            <p>gdkjfbdsfksdb dsddsj nsdkjns</p>
        </section>
        
        <section>
            <h2>sdnbhsj jash dxd xjgdnAB DX</h2>
            <p>dkhasbjdasgdjsabdsa djgsydnasjd asd</p>
        </section>
        
   
    
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>


   

    <!-- Link to JavaScript file -->
    
</body>
</html>
