<nav th:fragment="navbar" class="bg-gray-800 border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <div class="flex items-center space-x-8">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/address-book.png" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Smart Contact Manager</span>
            </div>
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a th:href=@{'/home1'} class="text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a th:href=@{'/about'} class="text-white hover:underline">About</a>
                </li>
                <li>
                    <a th:href=@{'/services'} class="text-white hover:underline">Services</a>
                </li>
                <li>
                    <a th:href=@{'/contact'} class="text-white hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a th:href=@{'/register'} class="text-sm text-blue-600 dark:text-blue-500 hover:underline">SignUp</a>
            <a th:href=@{'/login'} class="text-sm text-blue-600 dark:text-blue-500 hover:underline">Login</a>
        </div>
    </div>
</nav>